<component name="ArtifactManager">
  <artifact type="war" name="springmvcHelloWorld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="one.war">
      <element id="artifact" artifact-name="springmvcHelloWorld:war exploded" />
    </root>
  </artifact>
</component>