<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <context:component-scan base-package="com.mmall" annotation-config="true"/>

    <!--<context:annotation-config/>-->
    <aop:aspectj-autoproxy/>

    <bean id="connectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <property name="username" value="guest"></property>
        <property name="password" value="guest"></property>
        <property name="virtualHost" value="/"></property>
        <property name="addresses" value="127.0.0.1:5672"></property>
        <property name="publisherConfirms" value="true"></property>
    </bean>

    <rabbit:admin connection-factory="connectionFactory" />

    <bean id="rabbitTemplate"  class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <constructor-arg name="connectionFactory" ref="connectionFactory"/>
        <property name="queue" value="order-queue-2" />
        <!--消息确认回调 -->
        <property name="confirmCallback" ref="producer"/>
    </bean>
    <bean id="queue" class="org.springframework.amqp.core.Queue">
        <constructor-arg name="name" value="order-queue-2"></constructor-arg>
        <constructor-arg name="durable" value="true"></constructor-arg>
    </bean>
    <bean id="exchange" class="org.springframework.amqp.core.TopicExchange">
        <constructor-arg name="name" value="order-exchange-2"></constructor-arg>
    </bean>

    <bean id="producer" class="com.mmall.rabbitmq.RmqProducer"></bean>

    <bean id="binding" class="com.mmall.rabbitmq.MyBinding" init-method="createBinding">
        <constructor-arg index="0" ref="queue"></constructor-arg>
        <constructor-arg index="1" ref="exchange"></constructor-arg>
        <constructor-arg index="2" value="two"></constructor-arg>
    </bean>

    <bean id="queueListener" class="com.mmall.rabbitmq.QueueListener"></bean>

    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual" prefetch="1">
        <rabbit:listener queues="queue" ref="queueListener"  method="onMessage"/>
    </rabbit:listener-container>

    <import resource="applicationContext-datasource.xml"/>


</beans>